Repository OrangeBoatPencil/nova, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evca-team/maintainers, @evca-team/ui-team, @evca-team/db-team, @evca-team/billing-team, @evca-team/admin

feat: set up monorepo package structure
  .turbo/cookies/2.cookie
  packages/billing/package.json
  packages/billing/src/index.ts
  packages/billing/src/types.ts
  packages/config/eslint/next.js
  packages/config/index.js
  packages/config/package.json
  packages/config/tailwind/index.js
  packages/config/tsconfig/base.json
  packages/config/tsconfig/nextjs.json
  packages/config/tsconfig/react-library.json
  packages/db/src/index.ts
  packages/gallery/package.json
  packages/gallery/src/index.ts
  packages/gallery/src/search.ts
  packages/ui/package.json
  packages/ui/src/index.ts
  turbo.json
Owners: @evca-team/maintainers, @evca-team/billing-team, @evca-team/db-team, @evca-team/ui-team, @evca-team/admin

docs: update PLAN.md with monorepo transformation progress
  PLAN.md
Owners: @evca-team/maintainers

fix: remove unsupported projects property from vercel.json
  vercel.json
Owners: @evca-team/maintainers

feat: implement dashboard UI with shadcn components
  apps/dashboard/package.json
  apps/dashboard/src/components/ui/avatar.tsx
  apps/dashboard/src/components/ui/checkbox.tsx
  apps/dashboard/src/components/ui/dropdown-menu.tsx
Owners: @evca-team/maintainers

Add dashboard, layout, and members components with UI fixes
  package-lock.json
  src/app/page.tsx
  src/components/dashboard/dashboard-page.tsx
  src/components/layout/app-layout.tsx
  src/components/members/members-list.tsx
  src/components/ui/avatar.tsx
  src/components/ui/dropdown-menu.tsx
Owners: @evca-team/maintainers

Add environment variables to turbo.json
  turbo.json
Owners: @evca-team/admin

Add public Supabase environment variables to turbo.json
  turbo.json
Owners: @evca-team/admin

Update dashboard app with custom UI components
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/dashboard/dashboard-page.tsx
  apps/dashboard/src/components/layout/app-layout.tsx
  apps/dashboard/src/components/members/members-list.tsx
  apps/dashboard/src/components/ui/avatar.tsx
  apps/dashboard/src/components/ui/dropdown-menu.tsx
Owners: @evca-team/maintainers

fix: add 'use client' directive to members-list component to fix Next.js build error
  apps/dashboard/src/components/members/members-list.tsx
  src/components/members/members-list.tsx
Owners: @evca-team/maintainers

docs: add authentication architecture section
  README.md
Owners: @evca-team/maintainers

feat: wire liveProvider with Supabase realtime
  src/app/layout.tsx
Owners: @evca-team/maintainers

chore: remove custom operator mapping; rely on built-in supabase provider
  src/providers/supabase-provider.ts
Owners: @evca-team/maintainers

feat(ui): add Shadcn DataTable, Pagination, Select components
  src/components/table/data-table.tsx
  src/components/ui/pagination.tsx
  src/components/ui/select.tsx
Owners: @evca-team/maintainers

chore(ui): add barrel exports and fix linter types
  src/components/table/data-table.tsx
  src/components/ui/index.ts
  src/components/ui/select.tsx
Owners: @evca-team/maintainers

chore(auth): alias auth-provider to supabase-auth-provider for migration
  src/app/layout.tsx
  src/providers/supabase-auth-provider.ts
Owners: @evca-team/maintainers

chore(lint): add empty options to no-unused-expressions rule
  eslint.config.mjs
Owners: @evca-team/maintainers

chore(lint): suppress rule violations in db types and tailwind config
  packages/config/tailwind/index.js
  packages/db/src/types.ts
Owners: @evca-team/maintainers, @evca-team/db-team

ci(vercel): trigger preview workflow on push to main
  .github/workflows/preview.yml
Owners: @evca-team/admin

refactor: update ESLint config and add Vercel workflow
  .cursorrules
  .github/workflows/deploy-vercel.yml
  .github/workflows/eslint-scan.yml
  .github/workflows/lint.yml
  .gitignore
  .lintstagedrc.js
  .vscode/extensions.json
  .vscode/settings.json
  apps/dashboard/eslint.config.mjs
  apps/dashboard/package.json
  eslint.config.mjs
  my-app/eslint.config.mjs
  package-lock.json
  package.json
  turbo.json
Owners: @evca-team/maintainers, @evca-team/admin

.github/CODEOWNERS:

# Nova Dashboard Codeowners File
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
*                   @evca-team/maintainers

# App code
/apps/dashboard/    @evca-team/maintainers

# UI components
/packages/ui/        @evca-team/ui-team

# Database code
/packages/db/        @evca-team/db-team

# Billing integration
/packages/billing/   @evca-team/billing-team

# Configuration
/packages/config/    @evca-team/maintainers

# Repository configuration
/.github/            @evca-team/admin
/turbo.json          @evca-team/admin
/package.json        @evca-team/admin

# Documentation
/CONTRIBUTING.md     @evca-team/maintainers
/README.md           @evca-team/maintainers
